@import url("reset.css");
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap");


.wrapper {


    position: relative;
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

/* .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-family: 'BBH Sans Bartle', sans-serif;
    font-size: 38px;
} */





/* PRODUCTS SECTION */
.container__title {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    margin-top: 82px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}

.menu__item {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 72px;
}

.menu__item:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;
    cursor: pointer;
}

.container__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;

}

.container__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 440px;
    min-height: 694px;
    flex-grow: 1;
    flex-shrink: 1;
}

.container__item>*+* {
    margin-top: 12px;

}

.container__item>img:first-child {
    margin-top: 0;
    margin-bottom: 32px;

}

.container__item:nth-child(n +4) {
    margin-top: 72px;
}

.item__title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.item__price {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
}










/* WHY CHOOSE US */

.main__title {
    color: #2f302c;
    font-size: 32px;
    font-style: normal;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
    margin-top: 164px;
}

.section {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 68px;

}

.section__content {
    max-width: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 348px;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 24px;
}

.section__title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.section__text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}






/* FOOTER */








.footer__title {
    font-family: 'BBH Sans Bartle', sans-serif;
    font-size: 23px;
}

.footer__container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}